.react-calendar.calendar{
    background-color: transparent;
    height:100%;
    padding: 10%;
    width: 100%;
    border: none;
    font-size: 1.4rem;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #2196f3;
    border-radius: 50%;
}

.react-calendar .react-calendar__tile {
    max-width: 30%;
    text-align: center;
    padding: .8em;
    background: none;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button{
    display: none;
}

.react-calendar__navigation{
    margin:0;
    position: absolute;
    width: 100%;
    top: 4%;
    left: 50%;
    transform:translateX(-50%);
}


.react-calendar__navigation__label,
.react-calendar__navigation__arrow{
    font-size: 2rem;
    font-weight: 700;
}

.react-calendar .react-calendar__month-view__days__day--neighboringMonth > time,
.react-calendar .react-calendar__month-view__weekdays__weekday
{
    color: rgba(158, 163, 180, 255);
}
.react-calendar .react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus  {
    background-color: transparent;
}

.react-calendar .react-calendar__navigation button {
    background-image: none;
    background-color: transparent;
}
.react-calendar .react-calendar__navigation button[disabled] {
    background-color: transparent;
}

@media (orientation: portrait) and (min-width: 760px){
    .react-calendar .react-calendar__tile {
        padding: 1.7rem;
    }
    .react-calendar.calendar{
        margin-top:-20px;
        margin-left: auto;
        margin-right: auto;
        padding: 10% 0%;
        width: 70%;
        font-size: 1.7rem;
    }
}

@media (orientation: landscape) and (min-width: 560px){
    .react-calendar.calendar{
        margin-top:10px;
        margin-left: auto;
        margin-right: auto;
        padding: 0% 0%;
        width: 60%;
    }
}

@media (orientation: landscape) and (min-width: 710px){
    .react-calendar.calendar{
        margin-top:10px;
        margin-left: auto;
        margin-right: auto;
        padding: 0% 0%;
        width: 50%;
    }
}

@media (orientation: landscape) and (min-width: 810px){
    .react-calendar.calendar{
        margin-top:10px;
        margin-left: auto;
        margin-right: auto;
        padding: 0% 0%;
        width: 50%;
    }
}
@media screen and (orientation:portrait) and (min-width: 760px){
    .react-calendar.calendar{
        padding: 0rem;
        margin-top:0rem;
    }
    .react-calendar__month-view__days > button
    {
        font-size: 1.2rem;
    }
    
}
@media screen and (orientation:landscape) and (min-width: 1024px){
    .react-calendar.calendar{
        margin: 0;
        padding: 5rem 5rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .react-calendar__month-view__days > button
    {
        padding: 4% !important; 
    }
    .react-calendar__navigation{
        top: 3%;
    }
}